<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img src="{{uiRootPath}}/img/serverless-icon.svg" class="navbar-logo" alt="OpenShift Serverless icon">
        <a href="">OpenShift Serverless Previews</a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!-- search broken
        <div class="navbar-item hide-for-print">
          <script async src="https://cse.google.com/cse.js?cx=002898025167115630151:gnr5edrg2eo"></script>
          <div class="gcse-searchbox" enableAutoComplete="true"></div>
        </div>
      -->
        <a class="navbar-item" href="https://openshift-knative.github.io/docs/docs/index.html">Home</a>
        <a class="navbar-item" href="https://developers.redhat.com/topics/serverless-architecture">Blog</a>
        <a class="navbar-item" href="https://kogito.kie.org/">The Kogito Project</a>
      </div>
    </div>
  </nav>
<!-- need alt search type-->
<!--<div class="gcse-searchresults"></div>-->
</header>
