body {
  font-family: 'Noto Sans', sans-serif;
}

.doc .admonitionblock .icon {
    border-radius: 1rem;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}

i.fa.icon-note::before {
    background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip::before {
    background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important::before {
    background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning::before {
    background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution::before {
    background: no-repeat url("../img/caution.svg");
}

/* logo in navigation bar */
.navbar-item img.navbar-logo {
    margin-right: 1ex;
    height: 90%;
    width: auto;
}

/* Burger menu in navigation bar indented less than Antora default */
.navbar-burger {
    margin-left: 0;
}

/* Highlight of current item in navigation sidebar */
.nav-list .nav-item.is-current-page {
    border-left: 0.5rem solid #c6c6c6;
    padding-left: 1rem;
    margin-left: -1.5rem;
    background-color: #dadada;
}

/* Navigation sidebar */
.nav-container {
    width: 15rem;
}

/* Navigation sidebar on the left slightly darker than Antora default */
.nav-container .nav {
    background-color: #eee;
}

/* .Headings made more prominent */
.doc .title {
    font-weight: bold;
    color: #3a415f;
}

/* Google Search Box fix for empty line below header */
/*
.gsc-control-cse {
    padding: 0!important;
    border: none!important;
}
*/

/* Nav bar color, update link width */
.navbar {
    background-color: black;
}
.navbar-brand .navbar-item:first-child, .navbar-brand .navbar-item:first-child a {
    width: 120%;
    font-weight: bold;
}
